// scss/nav.scss

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 67%;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    align-items: center;
    margin-left: 45px;
    margin-bottom: 25px;

    &-menu {
        display: flex;
        gap: 10px;
        align-items: center;

        a {
            color: #971720;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            margin-left: 30px
        }
    }
}

@media only screen and (min-width: 375px) {
    .nav-bar {
        padding: 10px;
    }

    .nav-bar-menu a {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {

    .nav-bar {
        padding: 40px;
    }

    .nav-bar-menu a {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {

    .nav-bar {
        padding: 50px;
    }

    .nav-bar-menu a {
        font-size: 22px;
    }
}