body {
    overflow-x: hidden;
}

table {
    margin-bottom: 2rem;
}

table i {
    cursor: pointer;
}

table i:hover {
    color: blue;
}

thead {
    user-select: none;
}

tbody tr:hover {
    cursor: pointer;
    background-color: lightgray !important;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.215) !important;
}

nav {
    padding: 0 1rem 0 1rem;
}

main {
    padding: 1rem 0;
}

.row {
    margin-bottom: 0;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.empty {
    font-size: 1.5rem;
    padding: 2rem 0;
    margin: 0;
}

