body {
    overflow-x: hidden;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 2rem;
}

thead {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

table i {
    cursor: pointer;
}

table i:hover {
    color: #2196f3;
}

thead {
    user-select: none;
}


tbody tr:hover {
    cursor: pointer;
    background-color: #eceff1 !important;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.215) !important;
}

nav {
    padding: 0 1rem 0 1rem;
}

main {
    padding: 1rem;
}

.row {
    margin-bottom: 0;
}

.title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    margin-top: 1rem;
}

.title.can-go-back {
    margin: 1rem 0;
}

.empty {
    font-size: 1.5rem;
    padding: 2rem 0;
    margin: 0;
}

.btn,
.btn > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.loading-btn {
    transition: all 1s;
    padding-right: 2rem;
    padding-left: 2rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-side {
    display: flex;
    align-items: center;
    gap: 1rem;
}