NODE_ENV=development

# Database configuration
MYSQL_USERNAME="insert your mysql database username"
MYSQL_PASSWORD="insert your mysql database password"
MYSQL_DB_NAME="insert your mysql database name"
MYSQL_HOST="insert your mysql database host"
MYSQL_PORT="insert your mysql database port"
